{% extends form ? '@EckinoxAdminUi/base.html.twig' : 'base-public.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/main.css") }}">
{% endblock %}

{%- block title -%}
	{% trans with {"%name%": website.name} %}website.view.title{% endtrans %}
{%- endblock -%}

{% block actions %}
	<a href="{{ path('website_list') }}" class="btn btn-secondary">
		<i class="fas fa-caret-left me-2"></i>
		{% trans %}website.view.back_to_list{% endtrans %}
	</a>
{% endblock %}

{% block content %}
	<div class="d-flex flex-column flex-md-row">
		{# Card website #}
		<div class="card me-md-3 mb-3 min-width-50">
			<div class="card-header pb-1">
				<span class="h4">{% trans %}website.view.website_card.title{% endtrans %}</span>
			</div>
			<div class="card-body">
				<div class="mb-2">
					<i class="me-2" data-feather="target"></i>{{ website.name }}
				</div>
				<div class="mb-2">
					<i class="me-2" data-feather="link"></i>
					<a href="{{ website.url }}" target="_blank">{{ website.url }}</a>
				</div>
				<div class="mb-2">
					<i class="me-2" data-feather="star"></i>
					{% if website.averageRating %}
						{% trans with {"%rating%": website.averageRating} %}
							website.view.website_card.averageRating
						{% endtrans %}
					{% else %}
						{% trans %}website.view.website_card.noRating{% endtrans %}
					{% endif %}
				</div>
			</div>
		</div>
		{# Card review form #}
		<div class="card flex-fill mb-3">
			<div class="card-header pb-1">
				<div class="d-flex justify-content-between">
					<span class="h4">
						{% trans %}website.view.review_card.title{% endtrans %}
					</span>
					{% if reviewId %}
						<a href="{{ path('review_delete', {id: reviewId}) }}" class="delete-review">
							<i class="me-2" data-feather="trash-2"></i>
						</a>
					{% endif %}
				</div>
			</div>
			<div class="card-body">
				{% if form %}
					{{ form(form) }}
				{% else %}
					<a href="{{ path('eckinox_security_login') }}">
						<em>{% trans %}website.view.review_card.needAuthentication{% endtrans %}</em>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	{# Card reviews #}
	<div class="card">
		<div class="card-header pb-1">
			<span class="h4">{% trans %}website.view.community_card.title{% endtrans %}</span>
		</div>
		<div class="card-body">
			{% for review in website.reviews %}
				<div class="d-flex justify-content-between single-review">
					<div>
						<div class="d-flex align-items-center mb-2">
							<span class="me-1 mt-1">{{ review.rating }}</span><i data-feather="star"></i>
							<span class="mx-1">-</span>
							<em>
								{% trans with {
									"%firstName%": review.user.firstName,
									"%lastName%": review.user.lastName|u.truncate(2, '.')
								} %}website.view.community_card.author{% endtrans %}
							</em>
						</div>
						{{ review.comment|raw }}
					</div>
					<div>
						{% if is_granted('REVIEW_EDIT') %}
							<a href="{{ path('review_edit', {id: review.id}) }}">
								<i class="me-2" data-feather="edit"></i>
							</a>
						{% endif %}
						{% if is_granted('REVIEW_DELETE') %}
							<a href="{{ path('review_delete', {id: review.id}) }}" class="delete-review">
								<i class="me-2" data-feather="trash-2"></i>
							</a>
						{% endif %}
					</div>
				</div>
				{% if not loop.last %}
					<hr/>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/review.js') }}"></script>
{% endblock %}
